[submodule "Ricole/vendor/spdlog"]
	path = Ricole/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ricole/vendor/GLFW"]
	path = Ricole/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
